{% extends "app/layout.html" %}

{% block title %} Register Account {% endblock %}

{% block content %}
<style>
    #register {
        height: auto; /* Adjust to avoid full viewport height */
        padding: 50px 0; /* Adding padding for better spacing */
    }

    .form-control {
        border-radius: 5px;
        padding: 16px 22px;
        font-size: 1.2rem;
        border: 1px solid #ccc;
        transition: all 0.3s;
    }

        .form-control:focus {
            border-color: #417690;
            box-shadow: 0 0 0 0.2rem rgba(65, 118, 144, 0.25);
        }

    .btn-secondary {
        background-color: #417690;
        color: white;
        border: none;
        padding: 13px 28px;
        border-radius: 5px;
        font-size: 1.2rem;
        transition: all 0.3s;
        cursor: pointer;
    }


        .btn-secondary:hover {
            background-color: #35657d;
            color: #ddd;
        }

    label {
        font-size: 1.2rem;
        margin-bottom: 12px;
    }

    .form-group {
        margin-bottom: 22px;
    }

    /* ... other styles ... */

   

</style>

<section id="register" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="text-primary mb-4">
                    <i class="fas fa-user-plus"></i> Create Your Account
                </h1>
                <br />
                <!-- Alerts -->
                {% include 'users/alerts.html' %}
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password2">Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" name="password2" class="form-control" required>
                    </div>
                    <input type="submit" value="Register" class="btn btn-secondary btn-block" style="font-size:16px;">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
