{% extends "app/layout.html" %}

{% block content %}

<h1>About </h1>
<p>Our platform simplifies the process of converting raw data, such as CSV files or tables, into a variety of visual formats, including:</p>
<ul>
    <li><strong>Bar Charts:</strong> Ideal for comparing quantities across different groups.</li>
    <li><strong>Line Graphs:</strong> Best suited for illustrating trends over time.</li>
    <li><strong>Pie Charts:</strong> Provides a clear representation of proportions and percentages.</li>
    <li><strong>Scatter Plots:</strong> Excellent for identifying correlations between two variables.</li>
</ul>
<h3>Why Choose Us?</h3>
<ul>
    <li><strong>User-Friendly:</strong> Navigate the process of data visualization with an intuitive interface that requires no prior coding experience.</li>
    <li><strong>Versatile Applications:</strong> Whether you're preparing a business report, a research paper, or just exploring data, our visualizations are adaptable to a wide range of contexts.</li>
    <li><strong>Commitment to Privacy:</strong> We prioritize the security of your data, ensuring that your information remains confidential and protected.</li>
</ul>

{% endblock %}

